@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

:root {
  --black: #000000;
  --white: #ffffff;
  --poppins: "Poppins", sans-serif;
  --inter_display: "Inter", sans-serif;
  --poppins: "Poppins", sans-serif;
  --urbanist: "Urbanist", sans-serif;
}

body {
  background: #ffffff;
}

/* fonts----------------------------------- */

.poppins {
  font-family: "Poppins", sans-serif;
}

.inter_display_basic {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.title_section {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: var(--black);
  font-size: 48px;
  line-height: 56px;
}

.grey_paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #4c4c4c;
}

.gradient_background {
  background: radial-gradient(
      circle at 20% 30%,
      rgba(222, 248, 255, 0.4) 0%,
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 30%,
      rgba(222, 248, 255, 0.4) 0%,
      transparent 40%
    ),
    radial-gradient(
      circle at 50% 70%,
      rgba(222, 248, 255, 0.4) 0%,
      transparent 40%
    ),
    linear-gradient(135deg, #f9fff9 0%, #f7fcff 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 1080px;
  padding: 0;
  /* border: 1px solid green; */
}
@media (max-width: 600px) {
  .container {
    width: 100vw;

    padding-left: 10px;
    padding-right: 10px;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 1084px; */
  /* height: 81px; */
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
@media (max-width: 600px) {
  header .container {
    flex-direction: column;
    gap: 30px;
  }
}
header .logo {
  /* display: flex; */
  /* width: 165px; */
  height: 30px;
}

header ul.nav_item {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  color: #101010;
  font-size: 16px;
}

header .get_started_btn {
  background: var(--black);
  border-radius: 50px;
  border: none;
  color: var(--white);
  padding: 10px 26px;
}

.section_hero {
  /* height: 928px; */
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}

.section_hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section_hero .hero_contents {
  width: 681px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 72px;
  /* background: #816d6d; */
}
@media (max-width: 600px) {
  .section_hero .hero_contents {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
  .section_hero .title {
    font-size: 25px;
    line-height: 40px;
  }
  .section_hero .hero_paragraph {
    font-size: 14px;
    /* line-height: 40px; */
    text-align: center;
  }
  .section_hero .hero_butttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .section_hero .hero_butttons button {
    padding: 8px 18px;
  }
  .section_hero .hero_butttons button:first-child {
    margin: 0;
  }
}

.section_hero .green_chip {
  background: #92f4ae;
  border-radius: 50px;
  border: none;
  padding: 8px 16px;
  margin-bottom: 28px;
  width: fit-content;
}

.section_hero .title {
  text-align: center;
  margin-bottom: 20px;
}

.hero_paragraph {
  margin-bottom: 32px;
}

.hero_butttons button {
  font-family: var(--inter_display);
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  padding: 17px 22px;
}

.hero_butttons button:first-child {
  color: var(--white);
  background: var(--black);
  margin-right: 20px;
}

.hero_butttons button:nth-child(2) {
  color: var(--black);
  background: transparent;
  border: 2px solid var(--black);
}

.section_hero .hero_swiper .swiper-slide {
  /* width: 312px !important; */
  transition: width 0.2s ease;
}

.section_hero .hero_swiper .swiper-slide-active {
  /* width: 416px !important; */
}

.section_hero .hero_swiper img {
  max-width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 20px;
}

.section_hero .swiper-slide-active {
  /* border-radius: 0px; */
  /* width: 100% !important; */
}
.section_hero .swiper-slide:not(.swiper-slide-active) {
  /* border-radius: 0px; */
  /* width: 100% !important; */
}

.section_ceo {
  /* height: 994px; */
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 130px;
}

@media (max-width: 600px) {
  .section_ceo {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section_ceo .counter {
    width: auto;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .section_ceo .ceo_quotes {
    width: auto;
    /* font-size: 20px; */
    padding-left: 10px;
    padding-right: 10px;
  }
  .section_ceo .ceo_quotes .quote {
    font-size: 25px;
  }
  .section_ceo .ceo_quotes .quote {
    text-align: center;
    font-size: 25px;
  }
  .section_ceo .quote_icon {
    height: 30px;
    width: 30px;
    object-fit: cover;
  }
  .section_ceo .ceo_position {
    margin-bottom: 30px;
  }
  .section_ceo .ceo_position {
    margin-bottom: 30px;
  }
  .section_ceo .logos-slide img {
    height: 30px !important;
    margin: 0 20px !important;
    object-fit: cover;
  }
}

.counter {
  margin-bottom: 112px;
  width: 960px;
  display: flex;
  justify-content: space-between;
}

.count {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count .count_value {
  font-family: var(--inter_display);
  font-weight: 600;
  font-size: 48px;
}

.count span:nth-child(2) {
  font-family: var(--inter_display);
  font-weight: 600;
  font-size: 48px;
  color: #00c663;
}

.count p {
  color: #595959;
}

.ceo_quotes {
  width: 835px;
  /* height: 330px; */
  gap: 38px;

  margin-bottom: 38px;
}

.quote {
  font-family: var(--urbanist);
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
  line-height: 136%;
  color: #737373;
  text-align: center;
}

.quote span {
  color: #000000;
  font-weight: 600;
}

.ceo_name {
  margin-top: 24px;
  font-family: var(--inter_display);
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 2px;
}

.ceo_position {
  font-family: var(--inter_display);
  font-weight: 300;
  font-size: 16px;
  color: #181732;
  margin-bottom: 155px;
}

.section_ceo .logos {
  overflow: hidden;
  background: var(--white);
  white-space: nowrap;
  width: 100%;
  /* background: #755b5b; */
}

.section_ceo .logos-slide {
  display: inline-block;
  animation: 15s logoslide infinite linear;
}

.section_ceo .logos-slide img {
  height: 50px;
  margin: 0 40px;
}

@keyframes logoslide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.section_our_services {
  background: #0c0a25;
  display: flex;
  justify-content: center;

  padding-top: 121px;
  padding-bottom: 90px;
}

.section_our_services .container {
  display: flex;
  /* height: 473px; */
  justify-content: space-between;
}

@media (max-width: 600px) {
  .section_our_services {
    padding-top: 40px;
    height: auto;
  }

  .section_our_services .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .section_our_services .service_details {
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 30px;
  }
  .service_details .heading_container {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .service_details .heading_container p {
    text-align: center;
  }
  .service_details .heading_container h1 {
    text-align: center;
  }
  .section_our_services .left_line_of_card {
    display: none;
  }
  .section_our_services .right_line_of_card {
    display: none;
  }
  .section_our_services .sec_left_line_of_card {
    display: none;
  }
  .section_our_services .sec_right_line_of_card {
    display: none;
  }
  .section_our_services .service_card {
    height: 410px;
  }
}
.service_details {
  width: 282px;
  color: var(--white);
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service_details .heading_container {
}

.service_details .heading_container h1 {
  font-family: var(--inter_display);
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 13px;
}

.service_details .heading_container p {
  font-family: var(--inter_display);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 39px;
}

.service_details .heading_container button {
  border: none;
  border-radius: 50px;
  font-family: var(--inter_display);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  padding: 11px 28px;
  background: #41ff9e;
}

.service_details .third_party_review {
  color: var(--white);
  width: 251px;
}

.service_details .third_party_review p {
  font-family: var(--inter_display);
  font-weight: 400;
  font-size: 14px;
}

.service_details .third_party_review .reviewer {
  display: flex;
  justify-content: space-between;
}

.service_details .third_party_review .reviewer .reviewer_org {
  font-family: var(--inter_display);
  font-weight: 700;
  font-size: 18px;
}

.service_details .third_party_review .reviewer .review_stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 112px;
}

.service_details .third_party_review .reviewer .review_stars .white_star {
  width: 21px;
  height: 21px;
}

.service_card {
  width: 344px;
  height: 473px;
  border-radius: 20px;
  background: #d3fee8;
  padding: 32px 24px 0 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* margin-right: 32px; */
  position: relative;
}
.service_card:nth-child(2) {
  background: #c5e7ff;
  position: relative;
}

.left_line_of_card {
  position: absolute;
  left: -1px;
  top: -121px;
  width: 1px;
  /* height: 100%; */
  background: linear-gradient(
    270deg,
    rgba(221, 236, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.right_line_of_card {
  position: absolute;
  right: -2px;
  top: -121px;
  width: 1px;
  /* height: 100%; */
  background: linear-gradient(
    270deg,
    rgba(221, 236, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.sec_left_line_of_card {
  position: absolute;
  left: -1px;
  top: -121px;
  width: 1px;
  /* height: 100%; */
  background: linear-gradient(
    270deg,
    rgba(221, 236, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.sec_right_line_of_card {
  position: absolute;
  right: -2px;
  top: -121px;
  width: 1px;
  /* height: 100%; */
  background: linear-gradient(
    270deg,
    rgba(221, 236, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.service_card h1 {
  font-family: var(--inter_display);
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 22px;
}

.service_card p {
  font-family: var(--inter_display);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #606060;
}

.service_card img {
  width: 267px;
  height: 157px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: 0;
  align-self: center;
  object-fit: cover;
}

.section_case_studies {
  /* height: 1364px; */
  /* display: flex;
  justify-content: center; */
  margin-bottom: 56px;
}

@media (max-width: 600px) {
  .section_case_studies {
    padding-top: 20px;
  }
  .section_case_studies .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .section_case_studies .container .section_head {
    margin-top: 0 !important;
  }
  .section_case_studies .container .section_description {
    width: auto !important;
    margin-bottom: 30px !important;
  }
}

.section_case_studies .container {
  padding: 0;
  /* margin: 0; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.section_case_studies .container .col {
  padding: 0;
  margin: 0;
}

.section_case_studies .container .section_head {
  font-family: var(--inter_display);
  font-weight: 600;
  font-size: 48px;
  margin-top: 120px;
}

.section_case_studies .container .section_description {
  font-family: var(--inter_display);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4c4c4c;
  width: 500px;
  text-align: center;
  margin-bottom: 64px;
}

.section_case_studies .case_card {
  width: 500px;
  height: 442px;
  margin-bottom: 64px;
}

.case_card img {
  width: 100%;
  height: 347px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 24px;
}

.case_card .chips {
  display: flex;
  gap: 12px;
  margin-bottom: 14px;
}

.case_card .chip {
  font-family: var(--poppins);
  font-weight: 300;
  font-size: 14px;
  color: var(--black);
  background: #c7ffd0;
  border-radius: 50px;
  border: none;
  padding: 7px 30px;
}

.case_card h1 {
  font-family: var(--inter_display);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* ------------------------------
---------section----------------
---------------------------- */

.section_language_carousel {
  /* height: 994px; */
  background: #0c0a25;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_language_carousel .logos {
  overflow: hidden;
  background: #0c0a25;
  white-space: nowrap;
  width: 100%;
}

.section_language_carousel .logos-slide {
  display: inline-block;
  animation: 15s language infinite linear;
}

.section_language_carousel .logos-slide .single_language {
  height: 50px;
  margin: 0 20px;
  /* background: wheat; */
  display: inline-flex;
  /* background: red; */
  align-items: center;
}

.bullet {
  height: 10px;
  width: 10px;
  border: none;
  border-radius: 50px;
  background: #41ff9e;
  margin-right: 20px;
}

.text {
  font-family: var(--inter_display);
  font-weight: 500;
  font-size: 18px;
  margin-left: 20px;
  color: var(--white);
}

@keyframes language {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.section_testimonial {
  background: #ffffff;
  height: 894px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section_testimonial .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.section_testimonial .container .section_head {
  font-family: var(--inter_display);
  font-weight: 600;
  font-size: 48px;
}

.section_testimonial .container .section_description {
  font-family: var(--inter_display);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4c4c4c;
  width: 500px;
  text-align: center;
  margin-bottom: 64px;
}

.section_testimonial .test {
  height: 478px;
}

.section_testimonial .slider_container {
  width: 100%;
}

.section_testimonial .test .swiper-pagination {
  position: absolute;
  bottom: 0;
}

.section_testimonial .test .swiper-slide {
  max-width: 100%;
  height: 436px;
}

.section_testimonial .test .swiper-slide .testimonial_card {
  height: 100%;
  width: 100%;
  border: 1px solid #b7b7b7;
  border-radius: 20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.section_testimonial .test .swiper-pagination-bullet-active {
  background: #000;
}

.section_testimonial .test .testimonial_card .avatar_container {
  height: 72px;
  width: 72px;
  margin-bottom: 12px;
}

.section_testimonial .test .testimonial_card .avatar_container img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.section_testimonial .test .testimonial_card h1 {
  font-family: var(--inter_display);
  font-weight: 500;
  font-size: 21px;
  text-align: center;
}

.section_testimonial .test .testimonial_card p {
  font-family: var(--inter_display);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #5c5c5c;
  margin-bottom: 5px;
}

.section_testimonial .test .testimonial_card .review_stars {
  width: 144px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.section_testimonial .test .testimonial_card .review_stars .star {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  height: 24px;
  width: 24px;
  background: #ff7a00;
}

.section_testimonial .test .testimonial_card p.review_description {
  font-family: var(--inter_display);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.4px;
  text-align: center;
}

.section_testimonial .test .testimonial_card .view_review_link {
  font-family: var(--inter_display);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0%;
  position: absolute;
  bottom: 24px;
}

/* ---------------------------
-------start_project-----
---------------------------- */

.section_start_project {
  padding: 75px 0;
}

.section_start_project .container {
  height: 502px;
  background: #02033b;
  border-radius: 32px;
  padding: 65px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_start_project .text_container {
  width: 552px;
  margin-right: 10px;
}

.section_start_project .text_container h1 {
  font-family: var(--inter_display);
  font-weight: 600;
  font-size: 40px;
  letter-spacing: -2px;
  color: var(--white);

  margin-bottom: 16px;
}

.section_start_project .text_container p {
  font-family: var(--inter_display);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1px;

  margin-bottom: 24px;

  color: #b0b0b0;
}

.section_start_project .text_container button {
  font-family: var(--inter_display);
  font-weight: 500;
  font-size: 18px;
  padding: 12px 22px;
  border-radius: 50px;
  border: none;
  background: #41ff9e;

  color: var(--black);
}

.section_start_project .image_wrapper {
  width: 318px;
  height: 375px;
  /* background: red; */
}

.section_start_project .image_wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.top_line {
  position: absolute;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(221, 236, 255, 0.5) -30%,
    rgba(255, 255, 255, 0) 100%
  );

  left: 0;
  top: 62px;
}

.bottom_line {
  position: absolute;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    270deg,
    rgba(221, 236, 255, 0.5) -30%,
    rgba(255, 255, 255, 0) 100%
  );
  left: 0;
  bottom: 62px;
}

.left_line {
  position: absolute;
  height: 100%;
  width: 1px;
  background: linear-gradient(
    270deg,
    rgba(221, 236, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  top: 0;
  right: 384px;
}

.right_line {
  position: absolute;
  height: 100%;
  width: 1px;
  background: linear-gradient(
    270deg,
    rgba(221, 236, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  top: 0;
  right: 62px;
}

footer {
  background: #0c0a25;
  padding: 65px 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: end; */
  position: relative;
}

footer .container {
  /* margin: 0; */
  /* padding: 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 100%; */
  /* width: 100%; */

  height: 587px;
}

footer .container .text_container {
  min-width: 557px;
  color: var(--white);
}

footer .container .start_text {
  font-family: var(--inter_display);
  font-weight: 400;
  font-size: 16px;
}

footer .container h1 {
  font-family: var(--inter_display);
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 45px;
}

footer .container h1 span {
  color: #8e9ba3;
}

footer .container .list_container {
  display: flex;
  justify-content: space-between;
}

footer .container .list_container .footer_list_container {
  width: 241px;
}

footer .container .list_container .footer_list_container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer .container .list_container .footer_list_container ul li {
  font-family: var(--inter_display);
  font-weight: 500;
  font-size: 16px;
  color: #bcbcbc;
  margin-bottom: 10px;
}

footer .container .list_container .footer_list_container:nth-child(2) ul li {
  letter-spacing: -0.2px;
}

footer .container .list_container .footer_list_container:first-child ul li,
footer
  .container
  .list_container
  .footer_list_container:first-child
  .description {
  margin-bottom: 20px;
}

footer .container .list_container .footer_list_container .title {
  font-family: var(--inter_display);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);

  margin-bottom: 8px;
}

/* texture  */

footer .texture_container {
  display: flex;
  height: 587px;

  position: absolute;
  right: 0;
}

footer .texture_container .rectangle {
  width: 208px;
  height: 587px;
  background: #0c1632;
}

footer .texture_container .curvy {
  width: 149px;
  height: 587px;
  background: #0c1d32;
  position: relative;
}

footer .texture_container .curvy .top_rectangle {
  /* position: absolute; */
  /* top: 0; */
  width: 100%;
  height: 60%;
  clip-path: polygon(0 0, 0 100%, 100% 0);
  background: #0c0a25;
}

footer .texture_container .curvy .bottom_rectangle {
  position: absolute;
  width: 100%;
  height: 30%;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);

  background: #0c0a25;
  bottom: 0;
}

/* footer {
  background: #0c0a25;
  padding: 65px 0;
}
footer .container {
  background: white;
}
 */
