@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --poppins: "Poppins", sans-serif;
  --inter_display: "Inter", sans-serif;
  --poppins: "Poppins", sans-serif;
  --urbanist: "Urbanist", sans-serif;
}
body {
  background: #ffffff;
}

/* fonts----------------------------------- */

.poppins {
  font-family: "Poppins", sans-serif;
}
.inter_display_basic {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.title_section {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: var(--black);
  font-size: 48px;
  line-height: 56px;
}
.grey_paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #4c4c4c;
}

.gradient_background {
  background: radial-gradient(
      circle at 20% 30%,
      rgba(222, 248, 255, 0.4) 0%,
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 30%,
      rgba(222, 248, 255, 0.4) 0%,
      transparent 40%
    ),
    radial-gradient(
      circle at 50% 70%,
      rgba(222, 248, 255, 0.4) 0%,
      transparent 40%
    ),
    linear-gradient(135deg, #f9fff9 0%, #f7fcff 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 1080px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1084px;
  height: 81px;
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
header .logo {
  display: flex;
  width: 165px;
  height: 30px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 264px;

  display: flex;
  justify-content: space-between;
}

header .get_started_btn {
  background: var(--black);
  border-radius: 50px;
  border: none;
  color: var(--white);
  padding: 10px 26px;
}
header .nav_item {
  color: #101010;
  font-size: 16px;
}

.section_hero {
  height: 928px;
  display: flex;
  justify-content: center;
}

.section_hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section_hero .hero_contents {
  width: 681px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 72px;
}

.section_hero .green_chip {
  background: #92f4ae;
  border-radius: 50px;
  border: none;
  padding: 8px 16px;
  margin-bottom: 28px;
  width: fit-content;
}

.section_hero .title {
  text-align: center;
  margin-bottom: 20px;
}

.hero_paragraph {
  margin-bottom: 32px;
}

.hero_butttons button {
  font-family: var(--inter_display);
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  padding: 17px 22px;
}
.hero_butttons button:first-child {
  color: var(--white);
  background: var(--black);
  margin-right: 20px;
}
.hero_butttons button:nth-child(2) {
  color: var(--black);
  background: transparent;
  border: 2px solid var(--black);
}

.section_hero .hero_swiper {
  width: 100%;
  height: 320px;
}
.section_hero .swiper-slide {
  /* margin-right: 10px !important; */
}

.section_hero .hero_swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px !important;
}
.section_hero .hero_swiper .swiper-wrapper .swiper-slide-next {
  width: 460px !important;
}

.section_hero .hero_swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.section_ceo {
  height: 994px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter {
  margin-top: 128px;
  margin-bottom: 112px;
  width: 960px;
  display: flex;
  justify-content: space-between;
}
.count {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count .count_value {
  font-family: var(--inter_display);
  font-weight: 600;
  font-size: 48px;
}
.count span:nth-child(2) {
  font-family: var(--inter_display);
  font-weight: 600;
  font-size: 48px;
  color: #00c663;
}
.count p {
  color: #595959;
}

.ceo_quotes {
  width: 835px;
  /* height: 330px; */
  gap: 38px;

  margin-bottom: 38px;
}

.quote {
  font-family: var(--urbanist);
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
  line-height: 136%;
  color: #737373;
}
.quote span {
  color: #000000;
  font-weight: 600;
}

.ceo_name {
  margin-top: 24px;
  font-family: var(--inter_display);
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 2px;
}

.ceo_position {
  font-family: var(--inter_display);
  font-weight: 300;
  font-size: 16px;
  color: #181732;
}

.sister_concerns {
  margin-top: 155px;
  width: 1138px;
  display: flex;
  justify-content: space-between;
  gap: 52px;
}

.section_our_services {
  height: 682px;
  background: #0c0a25;
  display: flex;
  justify-content: center;
}
.section_our_services .container {
  margin-top: 121px;
  display: flex;
}
.service_details {
  width: 282px;
  color: var(--white);
  margin-right: 78px;
}

.service_details h1 {
  font-family: var(--inter_display);
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 13px;
}
.service_details p {
  font-family: var(--inter_display);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 39px;
}
.service_details button {
  background: #41ff9e;
  border: none;
  border-radius: 50px;
  font-family: var(--inter_display);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  padding: 11px 28px;
}

.service_card {
  width: 344px;
  height: 473px;
  border-radius: 20px;
  background: #d3fee8;
  padding: 32px 24px 0 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.service_card:nth-child(2) {
  background: #c5e7ff;
}
.service_card h1 {
  font-family: var(--inter_display);
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 22px;
}
.service_card p {
  font-family: var(--inter_display);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #606060;
}

.service_card img {
  width: 267px;
  height: 157px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: 0;
  align-self: center;
  object-fit: cover;
}

.section_case_studies {
  /* height: 1364px; */
  /* display: flex;
  justify-content: center; */
  margin-bottom: 56px;
}

.section_case_studies .container {
  padding: 0;
  /* margin: 0; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.section_case_studies .container .col {
  padding: 0;
  margin: 0;
}
.section_case_studies .container .section_head {
  font-family: var(--inter_display);
  font-weight: 600;
  font-size: 48px;
  margin-top: 120px;
}
.section_case_studies .container .section_description {
  font-family: var(--inter_display);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4c4c4c;
  width: 500px;
  text-align: center;
  margin-bottom: 64px;
}

.section_case_studies .case_card {
  width: 500px;
  height: 442px;
  margin-bottom: 64px;
}

.case_card img {
  width: 500px;
  height: 347px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 24px;
}
.case_card .chips {
  display: flex;
  gap: 12px;
  margin-bottom: 14px;
}
.case_card .chip {
  font-family: var(--poppins);
  font-weight: 300;
  font-size: 14px;
  color: var(--black);
  background: #c7ffd0;
  border-radius: 50px;
  border: none;
  padding: 7px 30px;
}
.case_card h1 {
  font-family: var(--inter_display);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.section_loop_carousel {
  background: #0c0a25;
  height: 72px;
  display: flex;
  align-items: center;
}

.carousel_content {
  display: flex;
  align-items: center;
}

.bullet {
  height: 10px;
  width: 10px;
  border: none;
  border-radius: 50px;
  background: #41ff9e;
  margin-right: 47px;
}
.text {
  font-family: var(--inter_display);
  font-weight: 500;
  font-size: 18px;
  margin-right: 47px;
  color: var(--white);
}
/* ------------------------------
---------section----------------
---------------------------- */

.section_testimonial {
  background: #ffffff;
  height: 894px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section_testimonial .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.section_testimonial .container .section_head {
  font-family: var(--inter_display);
  font-weight: 600;
  font-size: 48px;
}
.section_testimonial .container .section_description {
  font-family: var(--inter_display);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4c4c4c;
  width: 500px;
  text-align: center;
  margin-bottom: 64px;
}

/* .section_testimonial .swiper {
  width: 100%;
  height: 100%;
}

.section_testimonial .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_testimonial .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
